.quiz-box{
    margin-top: 50px;
}

.navbar{
    margin-top: 20px;
}

.quest-box{
    background-color: rgb(243, 243, 243);
    border-bottom: 5px solid rgb(147, 252, 147);
}

.jumbotron{
    background-color: rgb(243, 243, 243);
}

.quest1 .form-check-label,.quest2 .form-check-label,.quest3 .form-check-label,.quest4 .form-check-label{
    margin-left: 30px;
}

/* .quest1 .jumbotron,.quest2 .jumbotron,.quest3 .jumbotron,.quest4 .jumbotron{
    border-bottom: 3px solid rgb(174, 245, 174);
    border-left: 3px solid rgb(174, 245, 174);
} */

.quest1 .jumbotron, .quest2 .jumbotron, .quest3 .jumbotron, .quest4 .jumbotron{
    padding: 20px;
}

.timer{
    display: flex;
    flex-direction: column;
}

.timer .jumbotron{
    height: 150px;
}

.progress-bar{
    background-color: rgb(125, 202, 125);
}

.btn-outline-success{
    background-color: rgb(143, 197, 143);
    color: white;
    border: none;
}
